{
    margin: 0px;
    padding: 0px;
  }
  .one
  {
      height: 300px;
      width: 100%;
      background-color:blue;
      border: 6px solid black;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; 
      align-items: center;
  }

 .second
    {
        height:300px;
        width: 100%;
        background-color: purple;
        border: 6px solid black;
        display: flex;
        flex-direction : row;
        justify-content : space-evenly;
        align-items:center;
    }
    .second-child
    {
        height: 135px;
        width: 200px;
        background-color: yellowgreen;
        border: 6px solid black;
    }